/* 临时的
.h-btn {
	border:none;
	outline:none;
	padding:8px 15px;
	font-family:inherit;
	display:inline-block;
	border-radius:4px;
	color:inherit;
	font-size:13px;
	line-height:1;
	box-sizing:border-box;
	cursor:pointer;
	transition:all .2s;
	background-color:transparent;
	border:1px solid #d3d3d3;
	box-shadow:0 1px 1px 0 #eeeeee;
	background-color:#FFF
}
.h-btn:hover {
	border-color:#7ccea9;
	color:#7ccea9
}
.h-btn:active {
	border-color:#30815c;
	color:#30815c
}
.h-btn>i+span {
	margin-left:5px
}
.h-btn>span+i {
	margin-left:5px
}
.h-btn.h-btn-primary {
	background-color:#45b984;
	border-color:#42b27f;
	color:#ffffff
}
.h-btn.h-btn-primary:hover {
	border-color:#6ac79d;
	background-color:#6ac79d
}
.h-btn.h-btn-primary:active {
	border-color:#3a9b6f;
	background-color:#3a9b6f
}
.h-btn.h-btn-red {
	background-color:#E11617;
	border-color:#d81516;
	color:#ffffff
}
.h-btn.h-btn-red:hover {
	border-color:#ec3e3f;
	background-color:#ec3e3f
}
.h-btn.h-btn-red:active {
	border-color:#bc1213;
	background-color:#bc1213
}
.h-btn.h-btn-gray {
	background-color:#c1c1c1;
	border-color:#bcbcbc;
	color:#ffffff
}
.h-btn.h-btn-gray:hover {
	border-color:#dbdbdb;
	background-color:#dbdbdb
}
.h-btn.h-btn-gray:active {
	border-color:#adadad;
	background-color:#adadad
}
.h-btn.h-btn-yellow {
	background-color:#FFAE00;
	border-color:#f5a700;
	color:#ffffff
}
.h-btn.h-btn-yellow:hover {
	border-color:#ffbe33;
	background-color:#ffbe33
}
.h-btn.h-btn-yellow:active {
	border-color:#d69200;
	background-color:#d69200
}
.h-btn.h-btn-green {
	background-color:#13CE66;
	border-color:#12c561;
	color:#ffffff
}
.h-btn.h-btn-green:hover {
	border-color:#15e572;
	background-color:#15e572
}
.h-btn.h-btn-green:active {
	border-color:#10a954;
	background-color:#10a954
}
.h-btn.h-btn-blue {
	background-color:#3B91FF;
	border-color:#318bff;
	color:#ffffff
}
.h-btn.h-btn-blue:hover {
	border-color:#6eaeff;
	background-color:#6eaeff
}
.h-btn.h-btn-blue:active {
	border-color:#127aff;
	background-color:#127aff
}
.h-btn.h-btn-text {
	box-shadow:none;
	border-color:transparent
}
.h-btn.h-btn-text-primary {
	border-color:#45b984;
	color:#45b984
}
.h-btn.h-btn-text-primary:hover {
	border-color:#7ccea9;
	color:#7ccea9
}
.h-btn.h-btn-text-primary:active {
	border-color:#30815c;
	color:#30815c
}
.h-btn.h-btn-text-red {
	border-color:#E11617;
	color:#E11617
}
.h-btn.h-btn-text-red:hover {
	border-color:#ee5556;
	color:#ee5556
}
.h-btn.h-btn-text-red:active {
	border-color:#9b0f10;
	color:#9b0f10
}
.h-btn.h-btn-text-gray {
	border-color:#c1c1c1;
	color:#c1c1c1
}
.h-btn.h-btn-text-gray:hover {
	border-color:#e7e7e7;
	color:#e7e7e7
}
.h-btn.h-btn-text-gray:active {
	border-color:#9b9b9b;
	color:#9b9b9b
}
.h-btn.h-btn-text-yellow {
	border-color:#FFAE00;
	color:#FFAE00
}
.h-btn.h-btn-text-yellow:hover {
	border-color:#ffc64d;
	color:#ffc64d
}
.h-btn.h-btn-text-yellow:active {
	border-color:#b37a00;
	color:#b37a00
}
.h-btn.h-btn-text-green {
	border-color:#13CE66;
	color:#13CE66
}
.h-btn.h-btn-text-green:hover {
	border-color:#40ed8d;
	color:#40ed8d
}
.h-btn.h-btn-text-green:active {
	border-color:#0d8843;
	color:#0d8843
}
.h-btn.h-btn-text-blue {
	border-color:#3B91FF;
	color:#3B91FF
}
.h-btn.h-btn-text-blue:hover {
	border-color:#88bcff;
	color:#88bcff
}
.h-btn.h-btn-text-blue:active {
	border-color:#0068ee;
	color:#0068ee
}
.h-btn.h-btn-no-border {
	box-shadow:none;
	border-color:transparent !important
}
.h-btn.h-btn-circle {
	border-radius:20px
}
.h-btn.h-btn-icon-circle {
	border-radius:20px;
	padding:8px
}
.h-btn.h-btn-loading {
	pointer-events:none;
	opacity:.8
}
.h-btn.h-btn-block {
	display:block;
	width:100%
}
.h-btn.h-btn-transparent {
	background:transparent
}
.h-btn[disabled] {
	cursor:not-allowed;
	background-color:#f5f5f5;
	border-color:#d3d3d3;
	color:#999999
}
.h-btn[disabled]:hover {
	background-color:#f5f5f5;
	border-color:#d3d3d3;
	color:#999999
}
.h-btn[disabled].h-btn-text {
	border-color:transparent;
	background-color:transparent
}
.h-btn+.h-btn {
	margin-left:4px
}
.h-btn.h-btn-l {
	padding:10px 20px
}
.h-btn.h-btn-m {
	padding:7px 16px
}
.h-btn.h-btn-s {
	padding:5px 10px
}
.h-btn.h-btn-xs {
	padding:2px 6px
}
.h-btn-group {
	display:inline-block;
	vertical-align:middle
}
.h-btn-group .h-btn {
	border-radius:0;
	float:left;
	position:relative
}
.h-btn-group .h-btn+.h-btn {
	margin-left:-1px
}
.h-btn-group .h-btn:hover {
	z-index:2
}
.h-btn-group .h-btn:first-child {
	border-top-left-radius:4px;
	border-bottom-left-radius:4px
}
.h-btn-group .h-btn:last-child {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}
.h-btn-group.h-btn-group-circle>:first-of-type {
	border-top-left-radius:20px;
	border-bottom-left-radius:20px
}
.h-btn-group.h-btn-group-circle>:last-of-type {
	border-bottom-right-radius:20px;
	border-top-right-radius:20px
}
.h-btn-group.h-btn-group .h-btn[disabled] {
	z-index:-1
}
.h-btn-group.h-btn-group-l .h-btn {
	font-size:110%;
	padding:10px 20px
}
.h-btn-group.h-btn-group-s .h-btn {
	padding:5px 8px
}
.h-btn-group.h-btn-group-xs .h-btn {
	padding:2px 6px;
	font-size:90%
} */