@import "./common/var";
.v-checkbox .v-checkbox-native {
	-webkit-appearance:none;
	display:inline-block;
	width:16px;
	height:16px;
	margin:0px;
	border:1px solid #d3d3d3;
	cursor:pointer;
	box-sizing:border-box;
	border-radius:2px;
	vertical-align:middle;
	transition:background,border linear .2s;
	position:relative;
	font-family:inherit;
	outline:none;
	background-color:#ffffff
}
.v-checkbox .v-checkbox-native[checked],.v-checkbox .v-checkbox-native[indeterminate] {
	background-color:$--color-primary;
	border:1px solid $--color-primary;
}
.v-checkbox .v-checkbox-native:after {
	box-sizing:content-box;
	content:"";
	border:2px solid #ffffff;
	border-left:0;
	border-top:0;
	height:8px;
	left:4px;
	position:absolute;
	top:1px;
	width:4px;
	transition:all .2s;
	transform:rotate(45deg) scale(0)
}
.v-checkbox .v-checkbox-native[indeterminate]:after {
	content:"";
	width:8px;
	height:0px;
	left:2px;
	top:6px;
	transform:rotate(0deg) scale(1)
}
.v-checkbox .v-checkbox-native[checked]:after {
	transform:rotate(45deg) scale(1)
}
.v-checkbox .v-checkbox-native:hover {
	border-color:$--color-primary;
}
.v-checkbox .v-checkbox-native[disabled],.v-checkbox .v-checkbox-native[readonly] {
	pointer-events:painted;
	cursor:not-allowed;
	border-color:#d3d3d3;
	background-color:#f5f5f5
}
.v-checkbox .v-checkbox-native[disabled]:after,.v-checkbox .v-checkbox-native[readonly]:after {
	border-color:#d3d3d3
}
.v-checkbox .v-checkbox-native[disabled][checked],.v-checkbox .v-checkbox-native[readonly][checked],.v-checkbox .v-checkbox-native[disabled][indeterminate],.v-checkbox .v-checkbox-native[readonly][indeterminate] {
	background-color:#d3d3d3
}
.v-checkbox .v-checkbox-native[disabled][checked]:after,.v-checkbox .v-checkbox-native[readonly][checked]:after,.v-checkbox .v-checkbox-native[disabled][indeterminate]:after,.v-checkbox .v-checkbox-native[readonly][indeterminate]:after {
	border-color:#ffffff
}
.v-checkbox {
	display:inline-block
}
.v-checkbox>label {
	margin-right:15px;
	display:inline-block
}
.v-checkbox>label:last-child {
	margin-right:0
}
.v-checkbox>label>:nth-child(2) {
	margin-left:5px
}
.v-checkbox>label span {
	line-height:16px;
	vertical-align:middle
}
.v-checkbox>label i {
	line-height:16px;
	vertical-align:middle
}
.v-checkbox>label:hover>.v-checkbox-native {
	border-color:$--color-primary;
}
.v-checkbox .v-checkbox-disabled {
	color:#999999;
	pointer-events:painted;
	cursor:not-allowed
}
.v-checkbox .v-checkbox-disabled:hover>.v-checkbox-native {
	border-color:#d3d3d3
}
th.v-table-th-checkbox,
td.v-table-td-checkbox {
	text-align:center;
	text-overflow:clip;
	padding-left:0
}
.v-radio>label>.v-radio-icon {
	-webkit-appearance:none;
	display:inline-block;
	width:16px;
	height:16px;
	margin:0px;
	border:1px solid #d3d3d3;
	background:#FFF;
	border-radius:8px;
	cursor:pointer;
	position:relative;
	vertical-align:-3px;
	overflow:hidden;
	margin-right:5px;
	transition:all linear .2s;
	box-sizing:border-box;
	font-family:inherit;
	outline:none
}
.v-radio>label>.v-radio-icon:after {
	content:"";
	display:block;
	background-color:$--color-primary;
	transition:all linear .2s;
	transform:scale(0);
	width:8px;
	height:8px;
	border-radius:4px;
	position:relative;
	left:3px;
	top:3px
}
.v-radio>label>.v-radio-icon:checked,.v-radio>label>.v-radio-icon[checked] {
	border-color:$--color-primary
}
.v-radio>label>.v-radio-icon:checked:after,.v-radio>label>.v-radio-icon[checked]:after {
	transform:scale(1)
}
.v-radio>label>.v-radio-icon:hover {
	border-color:$--color-primary;
}
.v-radio>label>.v-radio-icon[disabled] {
	pointer-events:painted;
	cursor:not-allowed;
	border-color:#d3d3d3;
	background-color:#f5f5f5
}
.v-radio>label>.v-radio-icon[disabled]:checked,.v-radio>label>.v-radio-icon[disabled][checked] {
	background-color:#f5f5f5
}
.v-radio>label>.v-radio-icon[disabled]:checked:after,.v-radio>label>.v-radio-icon[disabled][checked]:after {
	background-color:#d3d3d3
}
.v-radio {
	display:inline-block
}
.v-radio>label {
	margin-right:15px;
	height:30px;
	line-height:30px;
	display:inline-block
}
.v-radio>label:last-child {
	margin-right:0
}
.v-radio>label:hover>.v-radio-icon {
	border-color:$--color-primary;
}
.v-radio.v-radio-disabled>label {
	color:#999999;
	pointer-events:painted;
	cursor:not-allowed
}
.v-radio.v-radio-disabled>label:hover>.v-radio-icon {
	border-color:#d3d3d3
}
.form-content-width100 .v-radio>label,
.form-content-width100 .v-checkbox>label {
	height:30px;
	line-height:30px
}
.v-form .v-form-item-content .v-radio>label,.v-form .v-form-item-content .v-checkbox>label {
	height:30px;
	line-height:30px
}
.v-transfer .v-transfer-source .v-transfer-list .v-transfer-item .v-checkbox,.v-transfer .v-transfer-target .v-transfer-list .v-transfer-item .v-checkbox,.v-transfer .v-transfer-source .v-transfer-list .v-transfer-item .v-checkbox label,.v-transfer .v-transfer-target .v-transfer-list .v-transfer-item .v-checkbox label {
	display:block
}
th.v-table-th-radio,
td.v-table-td-radio {
	text-align:center;
	text-overflow:clip;
	padding-left:0
}
