.v-date-picker {
	border:1px solid #eeeeee
}
.v-date-picker .v-date-shortcut {
	border-radius:4px 0 0 4px;
	width:104px;
	font-size:12px;
	line-height:28px;
	background:#f8f8f8;
	border-right:1px solid #eeeeee;
	padding:10px 0
}
.v-date-picker .v-date-shortcut>div {
	padding:3px 10px;
	cursor:pointer
}
.v-date-picker .v-date-shortcut>div:hover {
	background-color:#eeeeee
}
.v-date-picker .v-date-shortcut>div.disabled {
	cursor:default
}
.v-date-picker .v-date-shortcut>div.disabled:hover {
	background-color:transparent
}
.v-date-picker .v-date-container {
	display:flex
}
.v-date-picker .v-date-full-range-container {
	display:block;
	min-width:260px
}
.v-date-picker .v-date-full-range-container .v-tabs {
	padding:0
}
.v-date-picker .v-date-full-range-container .v-tabs>.v-tabs-item+div {
	margin-left:5px;
	padding:10px
}
.v-date-picker .v-date-range-container>.v-date-content:last-child {
	border-left:1px solid #eeeeee
}
.v-date-picker .v-date-content {
	padding:10px
}
.v-date-picker .v-date-self-defined {
	padding:15px;
	text-align:center
}
.v-date-picker .v-date-self-defined .v-input {
	width:110px
}
.v-date-picker .v-date-footer {
	padding:5px 10px;
	text-align:right;
	border-top:1px solid #eeeeee
}
.v-date-picker .v-date-header {
	text-align:center;
	line-height:30px
}
.v-date-picker .v-date-header>span {
	cursor:pointer;
	transition:color .2s ease;
	display:inline-block
}
.v-date-picker .v-date-header>span:hover {
	color:$--color-primary-light-1 !important
}
.v-date-picker .v-date-header>span:active {
	color:$--color-navyblue !important
}
.v-date-picker .v-date-header>span.v-pop-trigger .v-date-picker .v-date-header>span {
	color:$--color-primary !important
}
.v-date-picker .v-date-header>span[disabled] {
	color:#999999 !important;
	cursor:default
}
.v-date-picker .v-date-header-show {
	margin:0 3px
}
.v-date-picker .v-date-header .v-date-year-left-picker>i+i,.v-date-picker .v-date-header .v-date-year-right-picker>i+i {
	margin-left:-7px
}
.v-date-picker .v-date-header .v-date-montv-left-picker,.v-date-picker .v-date-header .v-date-year-left-picker,.v-date-picker .v-date-header .v-date-montv-right-picker,.v-date-picker .v-date-header .v-date-year-right-picker {
	color:#999999;
	font-size:12px;
	margin:0 3px
}
.v-date-picker .v-date-header .v-date-montv-left-picker,.v-date-picker .v-date-header .v-date-year-left-picker {
	float:left
}
.v-date-picker .v-date-header .v-date-montv-right-picker,.v-date-picker .v-date-header .v-date-year-right-picker {
	float:right
}
.v-date-picker .v-date-body {
	margin:8px auto 0;
	font-size:13px;
	width:224px
}
.v-date-picker .v-date-body>div>span {
	width:32px;
	height:32px;
	line-height:32px;
	display:inline-block;
	text-align:center;
	user-select:none
}
.v-date-picker .v-date-body-weeks {
	font-weight:bold
}
.v-date-picker .v-date-body-pickers>span {
	cursor:default
}
.v-date-picker .v-date-body-pickers>span:hover {
	background-color:#eeeeee
}
.v-date-picker .v-date-body-pickers>span.v-date-today {
	color:$--color-primary
}
.v-date-picker .v-date-body-pickers>span.v-date-selected {
	background-color:$--color-primary;
	color:#ffffff
}
.v-date-picker .v-date-body-pickers>span.v-date-start-selected {
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
.v-date-picker .v-date-body-pickers>span.v-date-end-selected {
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
.v-date-picker .v-date-body-pickers>span.v-date-range-selected {
	border-radius:0;
	background-color:rgba(69,185,132,0.15)
}
.v-date-picker .v-date-body-pickers>span.v-date-not-now-day {
	color:#d3d3d3;
	background-color:#ffffff
}
.v-date-picker .v-date-body-pickers>span.v-date-disabled {
	background-color:#f5f5f5;
	color:#999999;
	pointer-events:none
}
.v-date-picker .v-date-body-month>div>span,.v-date-picker .v-date-body-year>div>span,.v-date-picker .v-date-body-date>div>span {
	border-radius:50%
}
.v-date-picker .v-date-body-month>div>span,.v-date-picker .v-date-body-year>div>span {
	height:50px;
	width:50px;
	line-height:50px;
	margin:3px
}
.v-date-picker .v-date-body-week,.v-date-picker .v-date-body-quarter {
	min-width:200px;
	width:auto
}
.v-date-picker .v-date-body-week>div>span,.v-date-picker .v-date-body-quarter>div>span {
	border-radius:5px;
	width:100%;
	display:block;
	padding-left:10px;
	padding-right:10px
}
.v-date-picker .v-date-body-minute>div>span,.v-date-picker .v-date-body-hour>div>span {
	border-radius:5px;
	height:30px;
	width:50px;
	line-height:30px;
	margin:3px
}