
.v-datetime-range .v-datetime-show {
	min-width:208px
}
.v-datetime-full-range .v-datetime-show {
	min-width:234px
}

.v-datetime-input-border {
	display:inline-block;
	vertical-align:middle
}
.v-datetime-input-border .v-input {
	width:100%
}
.v-datetime-input-border .v-datetime-show:hover>input:not([disabled]),.v-datetime-input-border .v-pop-trigger>input:not([disabled]) {
	border-color:#45b984;
	box-shadow:0 0 0 2px rgba(69,185,132,0.2)
}