
@import "./common/var";
.v-datetime-range .v-datetime-show {
	min-width:208px
}
.v-datetime-full-range .v-datetime-show {
	min-width:234px
}

.v-datetime-input-border {
	display:inline-block;
	vertical-align:middle
}
.v-datetime-input-border .v-input {
	width:100%
}
.v-datetime-input-border .v-datetime-show:hover>input:not([disabled]),.v-datetime-input-border .v-pop-trigger>input:not([disabled]) {
	border-color:$--color-primary;
	box-shadow:0 0 0 2px rgba(50,128,252,0.2)
}