
.h-dropdownmenu {
	display:inline-block;
	vertical-align:middle
}
.h-dropdownmenu-group {
	padding:10px 0
}
.h-dropdownmenu-disabled {
	cursor:default;
	color:#999999 !important
}
.h-dropdownmenu-disabled>.h-icon-down {
	color:#999999 !important
}
.h-dropdownmenu-item {
	cursor:pointer;
	padding:5px 15px;
	position:relative
}
.h-dropdownmenu-item:hover {
	background-color:#eeeeee
}
.h-dropdownmenu-item.disabled {
	cursor:default
}
.h-dropdownmenu-item.disabled:hover {
	background-color:transparent
}
.h-dropdownmenu-item>i {
	margin-right:5px
}
.h-dropdownmenu-item-divider {
	height:0;
	padding:0;
	overflow:hidden;
	margin:3px 0;
	border-top:1px solid #eeeeee
}
.h-dropdownmenu-item.disabled {
	color:#999999
}