.v-dropdown {
  z-index:1000;
  &-inner {
    transition: all .3s cubic-bezier(0.05, 0.83, 0.19, 0.99);
    transition-property:transform,opacity;
    transform: scaleY(.8);
    max-height:500px;
    opacity:0;
    transform-origin: center top;
    &>div{
      display:block;
      box-sizing:border-box;
      border-radius:4px;
      background:#ffffff;
      box-shadow:0 5px 10px rgba(0,0,0,0.1)
    }
  }
}
.v-dropdown[aria-hidden=false] .v-dropdown-inner {
	transform:scale(1);
	opacity:1
}
.v-dropdown[x-placement=top-start] .v-dropdown-inner {
	transform-origin:bottom left
}
.v-dropdown[x-placement=top] .v-dropdown-inner {
	transform-origin:bottom
}
.v-dropdown[x-placement=top-end] .v-dropdown-inner {
	transform-origin:bottom right
}
.v-dropdown[x-placement=bottom-start] .v-dropdown-inner {
	transform-origin:top left
}
.v-dropdown[x-placement=bottom-end] .v-dropdown-inner {
	transform-origin:top right
}
.v-dropdown[x-placement=bottom] .v-dropdown-inner {
	transform-origin:top
}
.v-dropdowncustom {
	display:inline-block;
  vertical-align:middle;
  &-show {
    position:relative;
    &-toggle .v-dropdowncustom-show-content {
      padding-right:26px
    }
    &>.v-icon-down {
      color:#666666;
      position:absolute;
      right:8px;
      top:50%;
      height:10px;
      font-size:12px;
      line-height:12px;
      transform:translate(0,-50%) scale(.8);
      transition:transform .2s
    }
    &-content {
      display:inline-block;
    }
  }
  .v-pop-trigger>.v-icon-down {
    transform:rotate(-180deg) translate(0,50%) scale(.8)
  }
  .v-dropdowncustom-empty .v-icon-down {
    right:auto;
    left:50%;
    margin-left:-5px
  }
  .v-dropdowncustom-disabled {
    cursor:default;
    color:#999999 !important;
    &>.v-icon-down {
      color:#999999 !important
    }
  }
}
.v-dropdowncustom.v-btn {
  padding:0;
  .v-dropdowncustom-show {
    padding:8px 15px;
    padding-right:0;
    .v-icon-down {
      color:inherit
    }
  }
  .v-dropdowncustom-empty {
    width:30px
  }
}
