
.h-row {
	display:block
}
.h-row::after {
	content:"";
	display:block;
	clear:both
}
.h-row-clear {
	float:left;
	width:100%
}
.h-row-flex {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap
}
.h-row-flex:before,.h-row-flex:after {
	display:flex
}
.h-row-flex-start {
	justify-content:flex-start
}
.h-row-flex-center {
	justify-content:center
}
.h-row-flex-end {
	justify-content:flex-end
}
.h-row-flex-space-between {
	justify-content:space-between
}
.h-row-flex-space-around {
	justify-content:space-around
}
.h-row-flex-top {
	align-items:flex-start
}
.h-row-flex-middle {
	align-items:center
}
.h-row-flex-bottom {
	align-items:flex-end
}
.h-row-flex-row-reverse {
	flex-direction:row-reverse
}
.h-row-flex-column {
	flex-direction:column
}
.h-row-flex-column-reverse {
	flex-direction:column-reverse
}

.h-col-24 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:100%
}
.h-col-23 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:95.83333333%
}
.h-col-22 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:91.66666667%
}
.h-col-21 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:87.5%
}
.h-col-20 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:83.33333333%
}
.h-col-19 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:79.16666667%
}
.h-col-18 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:75%
}
.h-col-17 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:70.83333333%
}
.h-col-16 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:66.66666667%
}
.h-col-15 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:62.5%
}
.h-col-14 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:58.33333333%
}
.h-col-13 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:54.16666667%
}
.h-col-12 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:50%
}
.h-col-11 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:45.83333333%
}
.h-col-10 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:41.66666667%
}
.h-col-9 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:37.5%
}
.h-col-8 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:33.33333333%
}
.h-col-7 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:29.16666667%
}
.h-col-6 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:25%
}
.h-col-5 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:20.83333333%
}
.h-col-4 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:16.66666667%
}
.h-col-3 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:12.5%
}
.h-col-2 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:8.33333333%
}
.h-col-1 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:4.16666667%
}
@media (min-width:1800px) {
	.h-col-xl-24 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:100%
}
.h-col-xl-23 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:95.83333333%
}
.h-col-xl-22 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:91.66666667%
}
.h-col-xl-21 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:87.5%
}
.h-col-xl-20 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:83.33333333%
}
.h-col-xl-19 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:79.16666667%
}
.h-col-xl-18 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:75%
}
.h-col-xl-17 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:70.83333333%
}
.h-col-xl-16 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:66.66666667%
}
.h-col-xl-15 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:62.5%
}
.h-col-xl-14 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:58.33333333%
}
.h-col-xl-13 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:54.16666667%
}
.h-col-xl-12 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:50%
}
.h-col-xl-11 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:45.83333333%
}
.h-col-xl-10 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:41.66666667%
}
.h-col-xl-9 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:37.5%
}
.h-col-xl-8 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:33.33333333%
}
.h-col-xl-7 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:29.16666667%
}
.h-col-xl-6 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:25%
}
.h-col-xl-5 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:20.83333333%
}
.h-col-xl-4 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:16.66666667%
}
.h-col-xl-3 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:12.5%
}
.h-col-xl-2 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:8.33333333%
}
.h-col-xl-1 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:4.16666667%
}
}@media (min-width:1200px) and (max-width:1800px) {
	.h-col-lg-24 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:100%
}
.h-col-lg-23 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:95.83333333%
}
.h-col-lg-22 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:91.66666667%
}
.h-col-lg-21 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:87.5%
}
.h-col-lg-20 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:83.33333333%
}
.h-col-lg-19 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:79.16666667%
}
.h-col-lg-18 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:75%
}
.h-col-lg-17 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:70.83333333%
}
.h-col-lg-16 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:66.66666667%
}
.h-col-lg-15 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:62.5%
}
.h-col-lg-14 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:58.33333333%
}
.h-col-lg-13 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:54.16666667%
}
.h-col-lg-12 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:50%
}
.h-col-lg-11 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:45.83333333%
}
.h-col-lg-10 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:41.66666667%
}
.h-col-lg-9 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:37.5%
}
.h-col-lg-8 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:33.33333333%
}
.h-col-lg-7 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:29.16666667%
}
.h-col-lg-6 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:25%
}
.h-col-lg-5 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:20.83333333%
}
.h-col-lg-4 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:16.66666667%
}
.h-col-lg-3 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:12.5%
}
.h-col-lg-2 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:8.33333333%
}
.h-col-lg-1 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:4.16666667%
}
}@media (min-width:992px) and (max-width:1200px) {
	.h-col-md-24 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:100%
}
.h-col-md-23 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:95.83333333%
}
.h-col-md-22 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:91.66666667%
}
.h-col-md-21 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:87.5%
}
.h-col-md-20 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:83.33333333%
}
.h-col-md-19 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:79.16666667%
}
.h-col-md-18 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:75%
}
.h-col-md-17 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:70.83333333%
}
.h-col-md-16 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:66.66666667%
}
.h-col-md-15 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:62.5%
}
.h-col-md-14 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:58.33333333%
}
.h-col-md-13 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:54.16666667%
}
.h-col-md-12 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:50%
}
.h-col-md-11 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:45.83333333%
}
.h-col-md-10 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:41.66666667%
}
.h-col-md-9 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:37.5%
}
.h-col-md-8 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:33.33333333%
}
.h-col-md-7 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:29.16666667%
}
.h-col-md-6 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:25%
}
.h-col-md-5 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:20.83333333%
}
.h-col-md-4 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:16.66666667%
}
.h-col-md-3 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:12.5%
}
.h-col-md-2 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:8.33333333%
}
.h-col-md-1 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:4.16666667%
}
}@media (min-width:768px) and (max-width:992px) {
	.h-col-sm-24 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:100%
}
.h-col-sm-23 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:95.83333333%
}
.h-col-sm-22 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:91.66666667%
}
.h-col-sm-21 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:87.5%
}
.h-col-sm-20 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:83.33333333%
}
.h-col-sm-19 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:79.16666667%
}
.h-col-sm-18 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:75%
}
.h-col-sm-17 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:70.83333333%
}
.h-col-sm-16 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:66.66666667%
}
.h-col-sm-15 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:62.5%
}
.h-col-sm-14 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:58.33333333%
}
.h-col-sm-13 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:54.16666667%
}
.h-col-sm-12 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:50%
}
.h-col-sm-11 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:45.83333333%
}
.h-col-sm-10 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:41.66666667%
}
.h-col-sm-9 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:37.5%
}
.h-col-sm-8 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:33.33333333%
}
.h-col-sm-7 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:29.16666667%
}
.h-col-sm-6 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:25%
}
.h-col-sm-5 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:20.83333333%
}
.h-col-sm-4 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:16.66666667%
}
.h-col-sm-3 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:12.5%
}
.h-col-sm-2 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:8.33333333%
}
.h-col-sm-1 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:4.16666667%
}
}@media (max-width:768px) {
	.h-col-xs-24 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:100%
}
.h-col-xs-23 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:95.83333333%
}
.h-col-xs-22 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:91.66666667%
}
.h-col-xs-21 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:87.5%
}
.h-col-xs-20 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:83.33333333%
}
.h-col-xs-19 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:79.16666667%
}
.h-col-xs-18 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:75%
}
.h-col-xs-17 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:70.83333333%
}
.h-col-xs-16 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:66.66666667%
}
.h-col-xs-15 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:62.5%
}
.h-col-xs-14 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:58.33333333%
}
.h-col-xs-13 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:54.16666667%
}
.h-col-xs-12 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:50%
}
.h-col-xs-11 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:45.83333333%
}
.h-col-xs-10 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:41.66666667%
}
.h-col-xs-9 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:37.5%
}
.h-col-xs-8 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:33.33333333%
}
.h-col-xs-7 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:29.16666667%
}
.h-col-xs-6 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:25%
}
.h-col-xs-5 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:20.83333333%
}
.h-col-xs-4 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:16.66666667%
}
.h-col-xs-3 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:12.5%
}
.h-col-xs-2 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:8.33333333%
}
.h-col-xs-1 {
	float:left;
	display:block;
	box-sizing:border-box;
	width:4.16666667%
}
}