
.red-color {
	color:#E11617 !important
}
.bg-red-color {
	background-color:#E11617 !important
}
.blue-color {
	color:#3B91FF !important
}
.bg-blue-color {
	background-color:#3B91FF !important
}

.text-hover {
	cursor:pointer;
	transition:color .2s ease
}
.text-hover:hover {
	color:#45b984 !important
}
.text-hover:active {
	color:#30815c !important
}
.text-hover.h-pop-trigger .text-hover {
	color:#379469 !important
}
.text-hover[disabled] {
	color:#999999 !important;
	cursor:default
}
.dark-text-hover {
	cursor:pointer;
	transition:color .2s ease;
	color:#999999
}
.dark-text-hover:hover {
	color:#666666 !important
}
.dark-text-hover:active {
	color:#4d4d4d !important
}
.dark-text-hover[disabled] {
	color:#999999 !important;
	cursor:default
}
.text-left {
	text-align:left !important
}
.text-center {
	text-align:center !important
}
.text-right {
	text-align:right !important
}
.bottom-line {
	border-bottom:1px solid #eeeeee
}
/* .h-split {
	display:inline-block;
	width:5px;
	height:2px
} */
.text-ellipsis {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
[aria-hidden=false] {
	transform:scale(1);
	opacity:1
}

.h-text-dropdown {
	cursor:pointer
}
.h-text-dropdown>span {
	vertical-align:middle
}
.h-text-dropdown:hover,.h-text-dropdown.h-pop-trigger {
	color:#45b984
}
input.h-input,.h-textarea {
	min-width:1px;
	position:relative;
	background-color:#ffffff;
	border-radius:4px;
	border:1px solid #eeeeee;
	display:inline-block;
	padding:4px 7.5px;
	line-height:1.5;
	font-size:13px;
	transition:all linear .2s;
	box-sizing:border-box;
	-webkit-appearance:none;
	font-family:inherit;
	vertical-align:top;
	outline:none
}
input.h-input:hover,.h-textarea:hover {
	border-color:#6ac79d
}
input.h-input:focus,.h-textarea:focus {
	border-color:#45b984;
	box-shadow:0 0 0 2px rgba(69,185,132,0.2)
}
input.h-input[disabled],.h-textarea[disabled],input.h-input[readonly],.h-textarea[readonly] {
	border-color:#d3d3d3
}
input.h-input[disabled]:focus,.h-textarea[disabled]:focus,input.h-input[readonly]:focus,.h-textarea[readonly]:focus {
	box-shadow:none
}
input.h-input[readonly],.h-textarea[readonly] {
	color:#555555;
	box-shadow:none;
	cursor:default
}
input.h-input[disabled],.h-textarea[disabled] {
	color:#999999;
	background-color:#f5f5f5;
	pointer-events:painted;
	cursor:not-allowed
}
.h-form-item-valid-error input.h-input,.h-form-item-valid-error .h-textarea {
	border-color:#E11617
}
.h-form-item-valid-error input.h-input:focus,.h-form-item-valid-error .h-textarea:focus {
	box-shadow:0 0 0 2px rgba(225,22,23,0.2)
}
input.h-input {
	height:30px
}
.h-textarea {
	padding:7.5px
}
div.h-input {
	position:relative;
	display:inline-block
}
div.h-input>[class^="h-icon"],div.h-input>[class*=" h-icon"] {
	position:absolute;
	top:50%;
	right:8px;
	font-size:13px;
	z-index:3;
	transform:translate(0%,-50%)
}
div.h-input>.h-icon-close {
	color:#666666;
	transform-origin:center;
	cursor:pointer;
	transition:color .2s ease;
	transform:translate(0%,-50%) scale(.9)
}
div.h-input>.h-icon-close:hover {
	color:#45b984 !important
}
div.h-input>.h-icon-close:active {
	color:#30815c !important
}
div.h-input>.h-icon-close.h-pop-trigger div.h-input>.h-icon-close {
	color:#379469 !important
}
div.h-input>.h-icon-close[disabled] {
	color:#999999 !important;
	cursor:default
}
div.h-input>input {
	width:100%;
	position:relative;
	z-index:2
}
div.h-input.h-input-prefix-icon>[class^="h-icon"],div.h-input.h-input-prefix-icon>[class*=" h-icon"] {
	right:auto;
	left:8px
}
div.h-input.h-input-prefix-icon>input {
	padding-left:25px
}
div.h-input.h-input-suffix-icon>input {
	padding-right:25px
}
div.h-input-group {
	position:relative;
	display:flex
}
div.h-input-group>.h-btn {
	padding-top:7px;
	padding-bottom:7px;
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
div.h-input-group>input,div.h-input-group>div {
	position:relative;
	z-index:2;
	margin:0;
	flex:1
}
div.h-input-group>.h-select {
	overflow:hidden
}
div.h-input-group>div {
	padding:0 !important
}
div.h-input-group>input:not(:last-child),div.h-input-group>div:not(:last-child) input {
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
div.h-input-group>span {
	line-height:28px
}
div.h-input-group>.h-input-addon {
	line-height:28px;
	flex:inherit;
	text-align:center;
	background-color:#f3f3f3;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
	height:30px;
	vertical-align:middle;
	padding:0px 5px;
	min-width:24px;
	white-space:nowrap;
	color:#999999;
	display:inline-block
}
div.h-input-group>.h-input-addon:first-child {
	border-radius:4px 0 0 4px;
	border-left:1px solid #eeeeee
}
div.h-input-group>.h-input-addon:last-child,div.h-input-group>.h-input-addon.last-child {
	border-radius:0 4px 4px 0;
	border-right:1px solid #eeeeee
}
div.h-input-group>.h-input-addon+input,div.h-input-group>.h-input-addon+div input {
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
div.h-input-group>.h-input-addon>.h-select {
	display:block
}
div.h-input-group>.h-input-addon>.h-select .h-select-placeholder,div.h-input-group>.h-input-addon>.h-select .h-select-value-single {
	height:28px;
	line-height:28px
}
.h-wordcount {
	position:absolute;
	right:0;
	top:100%;
	margin:0
}
.h-form::after {
	content:"";
	display:block;
	clear:both
}
.h-form .h-form-item {
	padding-bottom:24px;
	position:relative
}
.h-form .h-form-item-no-padding {
	padding-bottom:0px
}
.h-form .h-form-item-label {
	display:inline-block;
	text-align:right;
	font-size:13px;
	color:#555555;
	line-height:1;
	padding:8.5px 15px 8.5px 0;
	box-sizing:border-box
}
.h-form .h-form-item-required .h-form-item-label::before {
	content:"*";
	color:#E11617;
	font-size:15px;
	display:inline-block;
	margin-right:4px;
	line-height:8px;
	vertical-align:middle
}
.h-form .h-form-item-content {
	font-size:13px
}
.h-form .h-form-item-wrap {
	position:relative
}
.h-form .h-form-item-wrap::after {
	content:"";
	display:block;
	clear:both
}
.h-form .h-form-item-error {
	position:absolute;
	margin-top:5px;
	color:#E11617;
	line-height:1
}
.h-form.h-form-label-left .h-form-item-label {
	text-align:left;
	padding:8.5px 0 8.5px 15px
}
.h-form.h-form-label-left .h-form-item-required .h-form-item-label:before {
	position:absolute;
	top:13px;
	left:6px
}
.h-form.h-form-block .h-form-item::after,.h-form.h-form .h-form-item-block::after {
	content:"";
	display:block;
	clear:both
}
.h-form.h-form-block .h-form-item-label,.h-form.h-form .h-form-item-block-label {
	display:block;
	text-align:left;
	padding-left:0
}
.h-form.h-form-block .h-form-item-label:empty,.h-form.h-form .h-form-item-block-label:empty {
	display:none
}
.h-form.h-form-block .h-form-item-content::after,.h-form.h-form .h-form-item-block-content::after {
	content:"";
	display:block;
	clear:both
}
.h-form.h-form-inline .h-form-item {
	display:inline-block
}
.h-form.h-form-inline .h-form-item-label {
	float:left
}
.h-form.h-form-inline .h-form-item-content {
	float:left;
	margin-right:20px
}
.h-form.h-form-twocolumn .h-form-item {
	width:50%;
	float:left
}
.h-form.h-form-twocolumn .h-form-item-label {
	width:80px;
	float:left
}
.h-form.h-form-threecolumn .h-form-item {
	width:33.3%;
	float:left
}
.h-form.h-form-threecolumn .h-form-item-label {
	width:80px;
	float:left
}
.h-form.h-form-single .h-form-item,.h-form.h-form .h-form-item-single {
	width:100%
}
.h-form.h-form-single .h-form-item::after,.h-form.h-form .h-form-item-single::after {
	content:"";
	display:block;
	clear:both
}
.h-form.h-form-single .h-form-item .h-form-item-label,.h-form.h-form .h-form-item-single .h-form-item-label {
	width:80px;
	float:left
}
.h-form.h-form-single .h-form-item .h-form-item-content,.h-form.h-form .h-form-item-single .h-form-item-content {
	margin-left:80px
}
.h-form-readonly .h-form-item {
	padding-bottom:3px
}
.h-form-readonly .h-form-item .h-form-item-wrap {
	line-height:30px
}
.h-form-item-readonly .h-form-item-content {
	line-height:30px
}
@keyframes loading-rotate {
	100% {
	transform:rotate(360deg)
}
}@keyframes loading-path-rotate {
	0% {
	stroke-dasharray:1,200;
	stroke-dashoffset:0
}
50% {
	stroke-dasharray:89,200;
	stroke-dashoffset:-35px
}
100% {
	stroke-dasharray:89,200;
	stroke-dashoffset:-124px
}
}
.h-text-ellipsis-limit-text {
	word-break:break-all
}