$input-height : 30px;
$font-size : 14px;
$border-radius : 4px;
$dark-color: #333333;
$dark1-color: #555555;
$dark2-color: #666666;
$dark3-color: #777777;
$dark4-color: #999999;

$gray-color: #c1c1c1;
$gray1-color: #d3d3d3;
$gray2-color: #eeeeee;
$gray3-color: #f3f3f3;
$gray4-color: #f5f5f5;
$border: 1px solid $gray2-color;

div.v-input {
  position: relative;
  display: inline-block;

  >[class^="v-icon"],
  >[class*=" v-icon"] {
    position: absolute;
    top: 50%;
    right: 8px;
    font-size: 13px;
    z-index: 3;
    transform: translate(0%, -50%);
  }

  >.v-icon-close{
    color: $dark2-color;
    transform-origin: center;
    // .v-func-text-hover();
    transform: translate(0%, -50%) scale(0.9);
  }
  >input{
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &.v-input-prefix-icon {
    >[class^="v-icon"],
    >[class*=" v-icon"]{
      right: auto;
      left: 8px;
    }
    >input{
      padding-left: 25px;
    }
  }

  &.v-input-suffix-icon {
    >input{
      padding-right: 25px;
    }
  }
  &-group {
    position: relative;
    display: flex;
    > .v-btn {
      padding-top: ($input-height - $font-size) / 2 - 1px;
      padding-bottom: ($input-height - $font-size) / 2 - 1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    >.v-numberinput>.v-numberinput-show, >.v-btn, >.v-select>.v-select-show {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    >.v-numberinput:not(:last-child)>.v-numberinput-show, >.v-select:not(:last-child)>.v-select-show {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    >input,>div {
      position: relative;
      z-index: 2;
      margin:0;
      flex: 1;
    }
    >.v-select {
      overflow: hidden;
    }
    >div{
      padding: 0 !important;
    }
    >input:not(:last-child),>div:not(:last-child) input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    >span{
        line-height: $input-height - 2px;
    }
    >.v-input-addon {
      line-height: $input-height - 2px;
      flex: inherit;
      text-align: center;
      background-color: $gray3-color;
      border-top:$border;
      border-bottom: $border;
      height: $input-height;
      vertical-align: middle;
      padding: 0px 5px;
      min-width: 24px;
      white-space: nowrap;
      color: $dark4-color;
      display: inline-block;
      &:first-child {
        border-radius: $border-radius 0 0 $border-radius;
        border-left: $border;
      }
      &:last-child,
      &.last-child {
        border-radius: 0 $border-radius $border-radius 0;
        border-right: $border;
      }
      +input,
      +div input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      > .v-select {
        display: block;
        .v-select-placeholder, .v-select-value-single {
          height: $input-height - 2px;
          line-height: $input-height - 2px;
        }
      }
    }
  }
}