
.h-menu {
	width:100%;
	display:block;
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
	position:relative;
	line-height:1
}
.h-menu-ul {
	list-style:none;
	margin:0;
	padding:0;
	outline:none;
	box-sizing:border-box
}
.h-menu-li {
	position:relative
}
.h-menu-show {
	position:relative;
	padding:15px 26px;
	cursor:pointer;
	text-overflow:clip;
	white-space:nowrap;
	transition:padding .2s
}
.h-menu-show-expand {
	right:20px;
	position:absolute;
	top:50%;
	transform:translate(0%,-50%)
}
.h-menu-show-desc {
	transition:opacity .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1);
	opacity:1
}
.h-menu-show-count {
	transition:right .2s;
	z-index:2;
	right:60px;
	position:absolute;
	top:50%;
	transform:translate(0%,-50%)
}
.h-menu .h-menu-li a {
	display:block;
	color:inherit;
	font-weight:inherit;
	text-decoration:inherit
}
.h-menu-mode-normal .h-menu-ul {
	max-height:0;
	transition:max-height .3s cubic-bezier(0,1,0,1);
	overflow:hidden
}
.h-menu-mode-normal .h-menu-li .h-menu-li .h-menu-show {
	padding-left:50px
}
.h-menu-mode-normal .h-menu-li .h-menu-li .h-menu-li .h-menu-show {
	padding-left:70px
}
.h-menu-mode-normal .h-menu-li-opened>.h-menu-ul {
	max-height:1000px;
	transition:max-height .8s ease-in-out
}
.h-menu-mode-normal .h-menu-li-opened>.h-menu-show .h-menu-show-expand>i {
	transform:rotate(0deg)
}
.h-menu-mode-normal .h-menu-show {
	overflow:hidden;
	text-overflow:ellipsis;
	transition:color .2s
}
.h-menu-mode-normal .h-menu-show-icon {
	margin-right:5px
}
.h-menu-mode-normal .h-menu-show-expand>i {
	transition:transform .2s;
	transform:rotate(-90deg)
}
.h-menu-dark {
	background:#333333;
	color:#b3b3b3
}
.h-menu-dark .h-menu-show {
	border-right:0px solid transparent
}
.h-menu-dark .h-menu-show:hover {
	color:#ffffff
}
.h-menu-dark .h-menu-ul {
	background:#262626
}
.h-menu-dark .h-menu-li-selected {
	background:#45b984;
	color:#ffffff
}
.h-menu-white {
	background:#ffffff
}
.h-menu-white .h-menu-show:hover {
	color:#45b984
}
.h-menu-white .h-menu-ul {
	background:#ffffff
}
.h-menu-white .h-menu-li {
	position:relative
}
.h-menu-white .h-menu-li .h-menu-show:after {
	position:absolute;
	content:'';
	top:0;
	right:0;
	bottom:0;
	width:0px;
	background:#45b984
}
.h-menu-white .h-menu-li .h-menu-li-selected {
	background-color:rgba(69,185,132,0.15);
	color:#45b984
}
.h-menu-white .h-menu-li .h-menu-li-selected:after {
	width:5px;
	transition:.2s
}
.h-menu.h-menu-size-collapse>.h-menu-li>.h-menu-show {
	padding-left:28px
}
.h-menu.h-menu-size-collapse>.h-menu-li>.h-menu-show .h-menu-show-icon {
	margin-right:0px;
	font-size:17px
}
.h-menu.h-menu-size-collapse>.h-menu-li>.h-menu-show .h-menu-show-desc {
	visibility:visible;
	opacity:0;
	display:inline-block;
	width:0;
	text-overflow:clip
}
.h-menu.h-menu-size-collapse>.h-menu-li>.h-menu-show .h-menu-show-count {
	right:10px
}
.h-menu.h-menu-size-collapse>.h-menu-li>.h-menu-show .h-menu-show-expand {
	display:none
}
.h-menu.h-menu-size-collapse .h-menu-ul {
	padding:5px 0;
	margin-left:5px;
	left:100%;
	top:0;
	width:150px;
	border-radius:4px;
	position:absolute;
	max-width:0;
	transition:.2s cubic-bezier(.78,.17,.43,1);
	white-space:nowrap;
	display:inline-block;
	overflow:hidden;
	opacity:.8;
	transform:scale(.8);
	transform-origin:left
}
.h-menu.h-menu-size-collapse .h-menu-ul .h-menu-show {
	overflow:hidden;
	text-overflow:ellipsis
}
.h-menu.h-menu-size-collapse .h-menu-show-expand {
	right:10px
}
.h-menu.h-menu-size-collapse .h-menu-show-expand i {
	transform:rotate(-90deg)
}
.h-menu.h-menu-size-collapse .h-menu-li:hover>.h-menu-ul {
	max-width:250%;
	opacity:1;
	transform:scale(1);
	overflow:visible
}
.h-menu.h-menu-size-collapse .h-menu-li:hover>.h-menu-ul:before {
	content:'';
	position:absolute;
	height:100%;
	top:0;
	left:-10px;
	width:10px
}
.h-menu.h-menu-size-collapse .h-menu-show {
	padding-left:20px
}
.h-menu-mode-horizontal:after {
	content:"";
	display:table;
	clear:both
}
.h-menu-mode-horizontal .h-menu-li {
	display:inline-block
}
.h-menu-mode-horizontal .h-menu-li .h-menu-show.h-menu-li-selected {
	background-color:rgba(69,185,132,0.15);
	color:#45b984
}
.h-menu-mode-horizontal .h-menu-li .h-menu-show.h-menu-li-selected:after {
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color:#45b984;
	bottom:0;
	left:0;
	right:0;
	top:auto
}
.h-menu-mode-horizontal .h-menu-ul {
	padding:5px 0;
	left:0;
	top:100%;
	width:150px;
	max-height:0;
	margin-top:5px;
	border-radius:4px;
	transition:.1s cubic-bezier(.78,.17,.43,1);
	transform-origin:top;
	opacity:.8;
	transform:scale(.8);
	visibility:hidden;
	overflow:hidden;
	position:absolute;
	white-space:nowrap;
	display:inline-block
}
.h-menu-mode-horizontal .h-menu-ul .h-menu-li {
	display:block
}
.h-menu-mode-horizontal .h-menu-ul .h-menu-li .h-menu-ul {
	padding:5px 0;
	left:100%;
	margin-left:5px;
	top:0;
	width:150px;
	border-radius:4px;
	visibility:hidden;
	position:absolute;
	max-height:0;
	transition:.1s cubic-bezier(.78,.17,.43,1);
	transform-origin:top;
	opacity:.8;
	transform:scale(.8);
	white-space:nowrap;
	display:inline-block
}
.h-menu-mode-horizontal .h-menu-ul .h-menu-show {
	overflow:hidden;
	text-overflow:ellipsis;
	transition:color .2s
}
.h-menu-mode-horizontal .h-menu-ul .h-menu-show-icon {
	margin-right:5px
}
.h-menu-mode-horizontal .h-menu-ul .h-menu-show-expand>i {
	transition:transform .2s;
	transform:rotate(-90deg)
}
.h-menu-mode-horizontal .h-menu-ul .h-menu-show.h-menu-li-selected {
	background-color:rgba(69,185,132,0.15);
	color:#45b984
}
.h-menu-mode-horizontal .h-menu-ul .h-menu-show.h-menu-li-selected:after {
	content:'';
	position:absolute;
	width:100%;
	height:2px;
	background-color:#45b984;
	bottom:0;
	left:0;
	right:0;
	top:auto
}
.h-menu-mode-horizontal .h-menu-show-expand {
	right:10px
}
.h-menu-mode-horizontal .h-menu-show-expand i {
	transform:rotate(-90deg)
}
.h-menu-mode-horizontal .h-menu-li:hover>.h-menu-ul {
	max-height:250%;
	transform:scale(1);
	opacity:1;
	visibility:visible;
	overflow:visible
}
.h-menu-mode-horizontal .h-menu-li:hover>.h-menu-ul:before {
	content:'';
	position:absolute;
	width:100%;
	top:-10px;
	left:0;
	height:10px
}
.h-menu-mode-horizontal .h-menu-li:hover>.h-menu-ul:after {
	content:'';
	position:absolute;
	height:100%;
	top:0;
	left:-10px;
	width:10px
}
.h-menu-mode-horizontal.h-menu-dark .h-menu-li .h-menu-show.h-menu-li-selected {
	background-color:#45b984;
	color:#ffffff
}
.h-menu-mode-horizontal.h-menu-dark .h-menu-li .h-menu-show.h-menu-li-selected:after {
	display:none
}