
html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
figure {
	margin:1em 40px
}
hr {
	box-sizing:content-box;
	height:0;
	overflow:visible
}
pre {
	font-family:monospace,monospace;
	font-size:1em
}
a {
	background-color:transparent;
  -webkit-text-decoration-skip:objects;
  color:#45b984;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	transition:color .2s ease;
  &:active,
  &:hover{
    outline-width:0;
    outline:0;
    text-decoration:none
  }
}

a[disabled] {
	color:#999999 !important;
	cursor:default
}
div {
	box-sizing:border-box
}
ul,ol {
	list-style:none;
	margin:0;
	padding:0;
	outline:none;
	box-sizing:border-box
}
abbr[title] {
	border-bottom:none;
	text-decoration:underline;
	text-decoration:underline dotted
}
b,strong {
  font-weight:bolder;
}
code,kbd,samp {
	font-family:monospace,monospace;
	font-size:1em
}
dfn {
	font-style:italic
}
mark {
	background-color:#ff0;
	color:#000
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sub {
	bottom:-0.25em
}
sup {
	top:-0.5em
}
audio,video {
	display:inline-block
}
audio:not([controls]) {
	display:none;
	height:0
}
img {
	border-style:none
}
svg:not(:root) {
	overflow:hidden
}
button,input {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html [type="button"],[type="reset"],[type="submit"] {
	-webkit-appearance:button
}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
	border-style:none;
	padding:0
}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
	outline:1px dotted ButtonText
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend {
	box-sizing:border-box;
	color:inherit;
	display:table;
	max-width:100%;
	padding:0;
	white-space:normal
}
progress {
	display:inline-block;
	vertical-align:baseline
}
textarea {
	overflow:auto
}
[type="checkbox"],[type="radio"] {
	box-sizing:border-box;
	padding:0
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height:auto
}
[type="search"] {
	-webkit-appearance:textfield;
	outline-offset:-2px
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
::-webkit-file-upload-button {
	-webkit-appearance:button;
	font:inherit
}
details,menu {
	display:block
}
summary {
	display:list-item
}
canvas {
	display:inline-block
}
template,
[hidden] {
	display:none
}
.clearfix::after {
	content:"";
	display:block;
	clear:both
}
.link {
	color:#45b984;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	transition:color .2s ease
}
.link:hover {
	color:#379469 !important
}
.link:active {
	color:#296f4f !important
}
.link:active,.link:hover {
	outline:0;
	text-decoration:none
}
.link[disabled] {
	color:#999999 !important;
	cursor:default
}

.flex {
	display:flex
}
.flex-column {
	flex-direction:column
}
.flex1 {
	flex:1
}
.middle {
	position:absolute;
	top:50%;
	transform:translate(0%,-50%)
}
.absolute {
	position:absolute
}
.relative {
	position:relative
}
.pointer {
	cursor:pointer
}
.middle-center {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}
.middle-right {
	position:absolute;
	right:0;
	top:50%;
	transform:translate(0%,-50%)
}
.overflow-y {
	overflow-y:auto
}
.float-right {
	float:right
}
body {
	font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size:14px;
	line-height:1.5;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-moz-osx-font-smoothing:grayscale
}
html,body,address,blockquote,dl,form,h1,h2,h3,h4,h5,h6,ol,table,ul,dd,dt,li,tbody,td,tfoot,th,thead,tr,button,del,ins,map,object,a,abbr,acronym,b,bdo,big,br,cite,code,dfn,em,i,img,kbd,q,samp,small,span,strong,sub,sup,tt,var,legend,fieldset,pre {
	margin:0;
	padding:0;
	outline:none;
	box-sizing:border-box
}

input[type=text],input[type=password],input[type=search],input[type=number],input[type=tel],input[type=url],input.h-input,textarea,.h-textarea {
	min-width:1px;
	position:relative;
	background-color:#ffffff;
	border-radius:4px;
	border:1px solid #eeeeee;
	display:inline-block;
	padding:4px 7.5px;
	line-height:1.5;
	font-size:13px;
	transition:all linear .2s;
	box-sizing:border-box;
	-webkit-appearance:none;
	font-family:inherit;
	vertical-align:top;
	outline:none
}
input[type=text]:hover,input[type=password]:hover,input[type=search]:hover,input[type=number]:hover,input[type=tel]:hover,input[type=url]:hover,input.h-input:hover,textarea:hover,.h-textarea:hover {
	border-color:#6ac79d
}
input[type=text]:focus,input[type=password]:focus,input[type=search]:focus,input[type=number]:focus,input[type=tel]:focus,input[type=url]:focus,input.h-input:focus,textarea:focus,.h-textarea:focus {
	border-color:#45b984;
	box-shadow:0 0 0 2px rgba(69,185,132,0.2)
}
input[type=text][disabled],input[type=password][disabled],input[type=search][disabled],input[type=number][disabled],input[type=tel][disabled],input[type=url][disabled],input.h-input[disabled],textarea[disabled],.h-textarea[disabled],input[type=text][readonly],input[type=password][readonly],input[type=search][readonly],input[type=number][readonly],input[type=tel][readonly],input[type=url][readonly],input.h-input[readonly],textarea[readonly],.h-textarea[readonly] {
	border-color:#d3d3d3
}
input[type=text][disabled]:focus,input[type=password][disabled]:focus,input[type=search][disabled]:focus,input[type=number][disabled]:focus,input[type=tel][disabled]:focus,input[type=url][disabled]:focus,input.h-input[disabled]:focus,textarea[disabled]:focus,.h-textarea[disabled]:focus,input[type=text][readonly]:focus,input[type=password][readonly]:focus,input[type=search][readonly]:focus,input[type=number][readonly]:focus,input[type=tel][readonly]:focus,input[type=url][readonly]:focus,input.h-input[readonly]:focus,textarea[readonly]:focus,.h-textarea[readonly]:focus {
	box-shadow:none
}
input[type=text][readonly],input[type=password][readonly],input[type=search][readonly],input[type=number][readonly],input[type=tel][readonly],input[type=url][readonly],input.h-input[readonly],textarea[readonly],.h-textarea[readonly] {
	color:#555555;
	box-shadow:none;
	cursor:default
}
input[type=text][disabled],input[type=password][disabled],input[type=search][disabled],input[type=number][disabled],input[type=tel][disabled],input[type=url][disabled],input.h-input[disabled],textarea[disabled],.h-textarea[disabled] {
	color:#999999;
	background-color:#f5f5f5;
	pointer-events:painted;
	cursor:not-allowed
}
.h-form-item-valid-error input[type=text],.h-form-item-valid-error input[type=password],.h-form-item-valid-error input[type=search],.h-form-item-valid-error input[type=number],.h-form-item-valid-error input[type=tel],.h-form-item-valid-error input[type=url],.h-form-item-valid-error input.h-input,.h-form-item-valid-error textarea,.h-form-item-valid-error .h-textarea {
	border-color:#E11617
}
.h-form-item-valid-error input[type=text]:focus,.h-form-item-valid-error input[type=password]:focus,.h-form-item-valid-error input[type=search]:focus,.h-form-item-valid-error input[type=number]:focus,.h-form-item-valid-error input[type=tel]:focus,.h-form-item-valid-error input[type=url]:focus,.h-form-item-valid-error input.h-input:focus,.h-form-item-valid-error textarea:focus,.h-form-item-valid-error .h-textarea:focus {
	box-shadow:0 0 0 2px rgba(225,22,23,0.2)
}
input[type=text],input[type=password],input[type=search],input[type=number],input[type=tel],input[type=url],input.h-input {
	height:30px
}
textarea,.h-textarea {
	padding:7.5px
}
input[type=text]::-ms-clear {
	display:none
}
input::-webkit-search-cancel-button {
	display:none
}
.no-select {
  user-select: none;
}
[class^="h-icon-"],[class*=" h-icon-"] {
	font-family:'heyui' !important;
	/* speak:none; */
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
[class^="h-icon-"],[class*=" h-icon-"] {
	font-size:inherit;
	display:inline-block;
	vertical-align:-1px
}
.h-icon-loading,.h-icon-spinner {
	animation:h-ani-loading-loop 1s linear infinite
}
@keyframes h-ani-loading-loop {
	from {
	transform:rotate(0deg)
}
50% {
	transform:rotate(180deg)
}
to {
	transform:rotate(360deg)
}
}