
.h-select {
	display:inline-block;
	box-sizing:border-box;
	vertical-align:middle
}
.h-select-placeholder {
	color:#787878
}
.h-select-value-single,.h-select-placeholder {
	line-height:24px;
	height:24px;
	padding-left:5px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.h-select-show {
	padding-right:25px !important;
	position:relative;
	cursor:default;
	line-height:1.5
}
.h-select-show>.h-icon-down {
	color:#666666;
	position:absolute;
	right:8px;
	top:50%;
	height:10px;
	font-size:12px;
	line-height:12px;
	transform:translate(0,-50%) scale(.8);
	transition:transform .2s
}
.h-select-show:hover>.h-icon-down {
	color:#45b984
}
.h-select-show.h-pop-trigger>.h-icon-down {
	transform:rotate(-180deg) translate(0,50%) scale(.8);
	color:#45b984
}
.h-select-multiple-tags {
	display:flex;
	flex-wrap:wrap
}
.h-select-multiple-tags>span {
	margin-bottom:2px;
	display:inline-block;
	border-radius:2px;
	transition:all linear .2s;
	margin-right:5px;
	border:1px solid #eeeeee;
	background-color:#f5f5f5;
	font-size:13px;
	padding:0px 8px
}
.h-select-multiple-tags>span>span {
	line-height:22px
}
.h-select-multiple-tags>span>.h-icon-close-min {
	font-size:16px;
	color:#666666;
	display:inline-block;
	width:14px;
	margin-left:2px;
	vertical-align:-2px;
	cursor:pointer;
	transition:color .2s ease
}
.h-select-multiple-tags>span>.h-icon-close-min:hover {
	color:#45b984 !important
}
.h-select-multiple-tags>span>.h-icon-close-min:active {
	color:#30815c !important
}
.h-select-multiple-tags>span>.h-icon-close-min.h-pop-trigger .h-select-multiple-tags>span>.h-icon-close-min {
	color:#379469 !important
}
.h-select-multiple-tags>span>.h-icon-close-min[disabled] {
	color:#999999 !important;
	cursor:default
}
.h-select-multiple-tags>span>.h-icon-close {
	line-height:22px;
	display:inline-block;
	font-size:12px;
	color:#666666;
	margin-left:5px;
	cursor:pointer;
	transition:color .2s ease
}
.h-select-multiple-tags>span>.h-icon-close:hover {
	color:#45b984 !important
}
.h-select-multiple-tags>span>.h-icon-close:active {
	color:#30815c !important
}
.h-select-multiple-tags>span>.h-icon-close.h-pop-trigger .h-select-multiple-tags>span>.h-icon-close {
	color:#379469 !important
}
.h-select-multiple-tags>span>.h-icon-close[disabled] {
	color:#999999 !important;
	cursor:default
}
.h-select-input-border .h-select-show {
	min-height:30px;
	cursor:default;
	background-color:#ffffff;
	border-radius:4px;
	border:1px solid #eeeeee;
	vertical-align:top;
	transition:all linear .2s;
	padding:2px 2px 0px 2px;
	font-size:13px;
	position:relative;
	box-sizing:border-box
}
.h-select-input-border .h-select-show:hover {
	border-color:#6ac79d
}
.h-select-input-border .h-select-show.h-pop-trigger,.h-select-input-border .h-select-show.focusing {
	border-color:#45b984;
	box-shadow:0 0 0 2px rgba(69,185,132,0.2)
}
.h-form-item-valid-error .h-select-input-border .h-select-show {
	border-color:#E11617
}
.h-form-item-valid-error .h-select-input-border .h-select-show:focus,.h-form-item-valid-error .h-select-input-border .h-select-show.focusing {
	box-shadow:0 0 0 2px rgba(225,22,23,0.2)
}
.h-form-item-valid-error .h-select-input-border .h-select-show {
	border-color:#E11617
}
.h-form-item-valid-error .h-select-input-border .h-select-show.h-pop-trigger {
	box-shadow:0 0 0 2px rgba(225,22,23,0.2)
}
.h-select-input-border .h-select-value-single,.h-select-input-border .h-select-placeholder {
	margin-bottom:2px
}
.h-select-no-autosize {
	display:block
}
.h-select-disabled .h-select-show {
	background-color:#f5f5f5;
	color:#999999 !important;
	border-color:#d3d3d3
}
.h-select-disabled .h-select-show:hover {
	border-color:#d3d3d3;
	color:#999999 !important
}
.h-select-disabled .h-select-show .h-icon-down {
	color:#999999 !important
}
.h-select-show {
	display:flex;
	flex-wrap:wrap;
	position:relative
}
.h-select-show>.h-icon-close {
	position:absolute;
	top:50%;
	right:8px;
	font-size:12px;
	z-index:3;
	cursor:pointer;
	transition:color .2s ease;
	color:#666666;
	margin-top:-6px
}
.h-select-show>.h-icon-close:hover {
	color:#45b984 !important
}
.h-select-show>.h-icon-close:active {
	color:#30815c !important
}
.h-select-show>.h-icon-close.h-pop-trigger .h-select-show>.h-icon-close {
	color:#379469 !important
}
.h-select-show>.h-icon-close[disabled] {
	color:#999999 !important;
	cursor:default
}
.h-select .h-select-search-input {
	flex:1;
	min-width:80px;
	width:auto;
	max-width:100%;
	border-color:transparent !important;
	line-height:13px;
	font-size:13px;
	height:24px;
	margin-bottom:2px;
	padding-left:5px
}
.h-select .h-select-search-input:focus {
	box-shadow:none !important
}
.h-select-filterable-value {
	top:1px;
	position:absolute;
	line-height:24px;
	left:8px;
	z-index:1;
	right:22px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.h-select-single-search-input {
	position:relative;
	z-index:2;
	background-color:transparent !important
}
.h-select-single-search-input:focus+.h-select-filterable-value {
	color:#c1c1c1
}
.h-select-disabled .h-select-single-search-input {
	color:#999999 !important
}
.h-select-group {
	outline:none;
	user-select:none;
	position:relative;
	font-size:13px;
	background-color:#ffffff;
	padding:5px 0px
}
.h-select-group-container .h-select-list {
	max-height:300px;
	overflow-y:auto
}
.h-select-group.h-select-group-has-label .h-select-item {
	padding:8px 20px
}
.h-select-group .h-select-item {
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:8px 10px;
	position:relative
}
.h-select-group .h-select-item:hover {
	background-color:#eeeeee
}
.h-select-group .h-select-item.disabled {
	cursor:default
}
.h-select-group .h-select-item.disabled:hover {
	background-color:transparent
}
.h-select-group .h-select-item-disabled {
	color:#999999;
	cursor:not-allowed
}
.h-select-group .h-select-item-disabled:hover {
	background:none
}
.h-select-group .h-select-item-label {
	color:#999999;
	font-size:12px;
	padding:8px 10px
}
.h-select-group .h-select-search-input {
	width:98%;
	margin:3px 1%
}
.h-select-group.h-select-single .h-select-item.h-select-item-picked {
	color:inherit;
	background-color:#eeeeee
}
.h-select-group.h-select-single .h-select-item.h-select-item-selected {
	background-color:rgba(69,185,132,0.15)
}
.h-select-group.h-select-multiple .h-select-item {
	padding-right:40px
}
.h-select-group.h-select-multiple .h-select-item .h-icon-check {
	display:none;
	position:absolute;
	right:10px;
	font-weight:bold
}
.h-select-group.h-select-multiple .h-select-item-selected {
	color:#45b984;
	background-color:transparent;
	cursor:pointer
}
.h-select-group.h-select-multiple .h-select-item-selected:hover {
	background-color:#eeeeee
}
.h-select-group.h-select-multiple .h-select-item-selected.disabled {
	cursor:default
}
.h-select-group.h-select-multiple .h-select-item-selected.disabled:hover {
	background-color:transparent
}
.h-select-group.h-select-multiple .h-select-item-selected .h-icon-check {
	display:inline-block
}
.h-select-group.h-select-multiple .h-select-item.h-select-item-picked {
	background-color:#eeeeee
}
.h-select-group .h-select-ul {
	list-style:none;
	margin:0;
	padding:0;
	outline:none;
	box-sizing:border-box
}
.h-select-group .h-select-ul-empty {
	color:#999999;
	line-height:24px;
	padding:0 10px
}