$switchlist-prefix:"v-switchlist";

.#{$switchlist-prefix} {
  display: inline-block;
  vertical-align: middle;
  >span {
    padding: 8px 15px;
    border-radius: 0;
    color: inherit;
    font-size: $--button-mini-font-size;
    line-height: 1;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
    background-color: #FFF;
    border:$--border-width-base $--border-color-light $--border-style-base;
    float: left;
    +span {
      margin-left: -1px;
    }
    position: relative;
    &:hover {
      z-index: 2;
      color: $--color-primary;
    }
    &:first-of-type {
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
    }
    &:last-of-type {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
    &[checked] {
      background-color:$--color-primary;
      border-color: darken($--color-primary, 2%);
      color: $--color-white;
      z-index: 3;
    }
    >i {
      margin-right: 5px;
    }
  }
  &-small>span {
    padding: 5px 8px;
  }
  &[disabled] {
    >span {
      pointer-events: painted;
      cursor:not-allowed;
      border-color: $--border-color-base;
      color: inherit;
      background-color:$--background-color-base;
      &[checked] {
        background-color:$--border-color-light;
      }
    }
  }
}