
.h-transfer {
	display:flex;
	flex-direction:row;
	width:480px
}
.h-transfer .h-transfer-source,.h-transfer .h-transfer-target {
	flex:1;
	border:1px solid #EEE
}
.h-transfer .h-transfer-source .h-transfer-header,.h-transfer .h-transfer-target .h-transfer-header {
	height:32px;
	line-height:32px;
	background:#f9f9f9;
	text-align:center;
	border-bottom:1px solid #EEE
}
.h-transfer .h-transfer-source .h-transfer-filter input,.h-transfer .h-transfer-target .h-transfer-filter input {
	width:100%;
	border-radius:0;
	border-width:0 0 1px 0;
	height:28px;
	outline:none;
	border-color:#EEE;
	box-shadow:none
}
.h-transfer .h-transfer-source .h-transfer-list,.h-transfer .h-transfer-target .h-transfer-list {
	height:240px;
	overflow-y:auto;
	padding:4px 0
}
.h-transfer .h-transfer-source .h-transfer-list .h-transfer-item,.h-transfer .h-transfer-target .h-transfer-list .h-transfer-item {
	padding-left:8px;
	height:32px;
	line-height:32px;
	cursor:pointer
}

.h-transfer .h-transfer-source .h-transfer-list .h-transfer-item.text-center,.h-transfer .h-transfer-target .h-transfer-list .h-transfer-item.text-center {
	padding-left:0
}
.h-transfer .h-transfer-source .h-transfer-list .h-transfer-item:hover,.h-transfer .h-transfer-target .h-transfer-list .h-transfer-item:hover {
	background:#f9f9f9
}
.h-transfer-switch {
	flex-basis:120px;
	text-align:center
}