// --------------------------------------------------------------
// Fullscreen
// --------------------------------------------------------------

.vplayer:fullscreen {
  @include vplayer-fullscreen-active();
}

/* stylelint-disable-next-line */
.vplayer:-webkit-full-screen {
  @include vplayer-fullscreen-active();
}

/* stylelint-disable-next-line */
.vplayer:-moz-full-screen {
  @include vplayer-fullscreen-active();
}

/* stylelint-disable-next-line */
.vplayer:-ms-fullscreen {
  @include vplayer-fullscreen-active();
}

// Fallback for unsupported browsers
.vplayer--fullscreen-fallback {
  @include vplayer-fullscreen-active();
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000;
}
.vplay-wrap{
  width: 100%;
  height: 100%;
}
