// ==========================================================================
// Captions
// ==========================================================================

$vplayer-captions-background: var(--vplayer-captions-background, rgba(#000, 0.8)) !default;
$vplayer-captions-text-color: var(--vplayer-captions-text-color, #fff) !default;

$vplayer-font-size-captions-base: $vplayer-font-size-base !default;
$vplayer-font-size-captions-small: $vplayer-font-size-small !default;
$vplayer-font-size-captions-medium: $vplayer-font-size-large !default;
$vplayer-font-size-captions-large: $vplayer-font-size-xlarge !default;
