// ==========================================================================
// Controls
// ==========================================================================

$vplayer-control-icon-size: var(--vplayer-control-icon-size, 18px) !default;
$vplayer-control-spacing: var(--vplayer-control-spacing, 10px) !default;
$vplayer-control-padding: calc(#{$vplayer-control-spacing} * 0.7);
$vplayer-control-padding: var(--vplayer-control-padding, $vplayer-control-padding) !default;
$vplayer-control-radius: var(--vplayer-control-radius, 3px) !default;

$vplayer-control-toggle-checked-background: var(
  --vplayer-control-toggle-checked-background,
  var(--vplayer-color-main, $vplayer-color-main)
) !default;

$vplayer-video-controls-background: var(
  --vplayer-video-controls-background,
  linear-gradient(rgba(#000, 0), rgba(#000, 0.75))
) !default;
$vplayer-video-control-color: var(--vplayer-video-control-color, #fff) !default;
$vplayer-video-control-color-hover: var(--vplayer-video-control-color-hover, #fff) !default;
$vplayer-video-control-background-hover: var(
  --vplayer-video-control-background-hover,
  var(--vplayer-color-main, $vplayer-color-main)
) !default;

$vplayer-audio-controls-background: var(--vplayer-audio-controls-background, #fff) !default;
$vplayer-audio-control-color: var(--vplayer-audio-control-color, $vplayer-color-gray-700) !default;
$vplayer-audio-control-color-hover: var(--vplayer-audio-control-color-hover, #fff) !default;
$vplayer-audio-control-background-hover: var(
  --vplayer-audio-control-background-hover,
  var(--vplayer-color-main, $vplayer-color-main)
) !default;
