// ==========================================================================
// Badges
// ==========================================================================

$vplayer-badge-background: var(--vplayer-badge-background, $vplayer-color-gray-700) !default;
$vplayer-badge-text-color: var(--vplayer-badge-text-color, #fff) !default;
$vplayer-badge-border-radius: var(--vplayer-badge-border-radius, 2px) !default;
