// ==========================================================================
// Enable helpers
// ==========================================================================

$vplayer-border-box: true !default;
$vplayer-touch-action: true !default;
$vplayer-sr-only-important: true !default;
