// ==========================================================================
// Menus
// ==========================================================================

$vplayer-menu-background: var(--vplayer-menu-background, rgba(#fff, 1)) !default;
$vplayer-menu-radius: var(--vplayer-menu-radius, 4px) !default;
$vplayer-menu-color: var(--vplayer-menu-color, $vplayer-color-gray-700) !default;
$vplayer-menu-shadow: var(--vplayer-menu-shadow, 0 1px 2px rgba(#000, 0.15)) !default;
$vplayer-menu-arrow-size: var(--vplayer-menu-arrow-size, 4px) !default;

$vplayer-menu-item-arrow-size: var(--vplayer-menu-item-arrow-size, 4px) !default;
$vplayer-menu-item-arrow-color: var(--vplayer-menu-arrow-color, $vplayer-color-gray-500) !default;

$vplayer-menu-back-border-color: var(--vplayer-menu-back-border-color, $vplayer-color-gray-100) !default;
$vplayer-menu-back-border-shadow-color: var(--vplayer-menu-back-border-shadow-color, #fff) !default;
