// ==========================================================================
// Progress
// ==========================================================================

// Loading
$vplayer-progress-loading-size: var(--vplayer-progress-loading-size, 25px) !default;
$vplayer-progress-loading-background: var(--vplayer-progress-loading-background, rgba($vplayer-color-gray-900, 0.6)) !default;

// Buffered
$vplayer-video-progress-buffered-background: var(--vplayer-video-progress-buffered-background, rgba(#fff, 0.25)) !default;
$vplayer-audio-progress-buffered-background: var(
  --vplayer-audio-progress-buffered-background,
  rgba($vplayer-color-gray-200, 0.6)
) !default;
