.list{
  li{
    padding: 10px;
  }
}
.list-float{
  overflow: hidden;
  li{
    padding: 10px;
    float: left;
    box-sizing: border-box;
  }
}
.w2{
  li{
    width: 50%;
  }
}
.w3{ 
  li{
    width: 33%;
  }
}
.w4{ 
  li{
    width: 25%;
  }
}
.element-doc{
  table {
    margin-bottom: 24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    width:100%;
  }
  table{
    th,td{
      border-bottom: 1px solid #dcdfe6;
      padding: 15px;
      max-width: 250px;
      color: #616161;
    }
    th{
      color: #555;
      font-weight: 600;
    }
  }
}
// panelSplit start
.demo-panel-split {
  height: 200px;
  border: 1px solid #dcdee2;
}
.demo-split-pane {
  padding: 20px;
}
.demo-split-pane.no-padding {
  height: 200px;
  padding: 0;
}
// panelSplit end

// 高亮
.demo-block .meta{
  &>.highlight{
    overflow: hidden;
    border-radius: 5px;
  }
}