// --------------------------------------------------------------
// Captions
// --------------------------------------------------------------

// Hide default captions
.vplayer--full-ui ::-webkit-media-text-track-container {
  display: none;
}

.vplayer__captions {
  animation: vplayer-fade-in 0.3s ease;
  bottom: 0;
  display: none;
  font-size: $vplayer-font-size-captions-small;
  left: 0;
  padding: $vplayer-control-spacing;
  position: absolute;
  text-align: center;
  transition: transform 0.4s ease-in-out;
  width: 100%;

  span:empty {
    display: none;
  }

  @media (min-width: $vplayer-bp-sm) {
    font-size: $vplayer-font-size-captions-base;
    padding: calc(#{$vplayer-control-spacing} * 2);
  }

  @media (min-width: $vplayer-bp-md) {
    font-size: $vplayer-font-size-captions-medium;
  }
}

.vplayer--captions-active .vplayer__captions {
  display: block;
}

// If the lower controls are shown and not empty
.vplayer:not(.vplayer--hide-controls) .vplayer__controls:not(:empty) ~ .vplayer__captions {
  transform: translateY(calc(#{$vplayer-control-spacing} * -4));
}

.vplayer__caption {
  background: $vplayer-captions-background;
  border-radius: 2px;
  box-decoration-break: clone;
  color: $vplayer-captions-text-color;
  line-height: 185%;
  padding: 0.2em 0.5em;
  white-space: pre-wrap;

  // Firefox adds a <div> when using getCueAsHTML()
  div {
    display: inline;
  }
}
