// --------------------------------------------------------------
// Playback progress
// --------------------------------------------------------------

// Offset the range thumb in order to be able to calculate the relative progress (#954)
$vplayer-progress-offset: $vplayer-range-thumb-height;

.vplayer__progress {
  left: calc(#{$vplayer-progress-offset} * 0.5);
  margin-right: $vplayer-progress-offset;
  position: relative;

  input[type='range'],
  &__buffer {
    margin-left: calc(#{$vplayer-progress-offset} * -0.5);
    margin-right: calc(#{$vplayer-progress-offset} * -0.5);
    width: calc(100% + #{$vplayer-progress-offset});
  }

  input[type='range'] {
    position: relative;
    z-index: 2;
  }

  // Seek tooltip to show time
  .vplayer__tooltip {
    font-size: $vplayer-font-size-time;
    left: 0;
  }
}

.vplayer__progress__buffer {
  -webkit-appearance: none; /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: 100px;
  height: $vplayer-range-track-height;
  left: 0;
  margin-top: calc((#{$vplayer-range-track-height} / 2) * -1);
  padding: 0;
  position: absolute;
  top: 50%;

  &::-webkit-progress-bar {
    background: transparent;
  }

  &::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: $vplayer-range-track-height;
    transition: width 0.2s ease;
  }

  // Mozilla
  &::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: $vplayer-range-track-height;
    transition: width 0.2s ease;
  }

  // Microsoft
  &::-ms-fill {
    border-radius: 100px;
    transition: width 0.2s ease;
  }
}

// Loading state
.vplayer--loading .vplayer__progress__buffer {
  animation: vplayer-progress 1s linear infinite;
  background-image: linear-gradient(
    -45deg,
    $vplayer-progress-loading-background 25%,
    transparent 25%,
    transparent 50%,
    $vplayer-progress-loading-background 50%,
    $vplayer-progress-loading-background 75%,
    transparent 75%,
    transparent
  );
  background-repeat: repeat-x;
  background-size: $vplayer-progress-loading-size $vplayer-progress-loading-size;
  color: transparent;
}

.vplayer--video.vplayer--loading .vplayer__progress__buffer {
  background-color: $vplayer-video-progress-buffered-background;
}

.vplayer--audio.vplayer--loading .vplayer__progress__buffer {
  background-color: $vplayer-audio-progress-buffered-background;
}
