// --------------------------------------------------------------
// Badges
// --------------------------------------------------------------

.vplayer__badge {
  background: $vplayer-badge-background;
  border-radius: $vplayer-badge-border-radius;
  color: $vplayer-badge-text-color;
  font-size: $vplayer-font-size-badge;
  line-height: 1;
  padding: 3px 4px;
}
