// --------------------------------------------------------------
// Controls
// --------------------------------------------------------------

// Hide native controls
.vplayer--full-ui ::-webkit-media-controls {
  display: none;
}

// Playback controls
.vplayer__controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;

  .vplayer__progress__container {
    flex: 1;
    min-width: 0; // Fix for Edge issue where content would overflow
  }

  // Spacing
  .vplayer__controls__item {
    margin-left: calc(#{$vplayer-control-spacing} / 4);

    &:first-child {
      margin-left: 0;
      margin-right: auto;
    }

    &.vplayer__progress__container {
      padding-left: calc(#{$vplayer-control-spacing} / 4);
    }

    &.vplayer__time {
      padding: 0 calc(#{$vplayer-control-spacing} / 2);
    }

    &.vplayer__progress__container:first-child,
    &.vplayer__time:first-child,
    &.vplayer__time + .vplayer__time {
      padding-left: 0;
    }
  }

  // Hide empty controls
  &:empty {
    display: none;
  }
}

// Some options are hidden by default
.vplayer [data-vplayer='captions'],
.vplayer [data-vplayer='pip'],
.vplayer [data-vplayer='airplay'],
.vplayer [data-vplayer='fullscreen'] {
  display: none;
}
.vplayer--captions-enabled [data-vplayer='captions'],
.vplayer--pip-supported [data-vplayer='pip'],
.vplayer--airplay-supported [data-vplayer='airplay'],
.vplayer--fullscreen-enabled [data-vplayer='fullscreen'] {
  display: inline-block;
}
