// --------------------------------------------------------------
// Time
// --------------------------------------------------------------

.vplayer__time {
  font-size: $vplayer-font-size-time;
}

// Media duration hidden on small screens
.vplayer__time + .vplayer__time {
  // Add a slash in before
  &::before {
    content: '\2044';
    margin-right: $vplayer-control-spacing;
  }

  @media (max-width: calc(#{$vplayer-bp-md} - 1)) {
    display: none;
  }
}
